h1 Pong

#mainpanel
  b Enter a nickname
  form(id: 'nameform', onsubmit: 'send(); return false;')
    input(type: 'text', autocomplete: 'off', id: 'nickname')
    input(type: 'submit', value: 'Send')

