!!!
html
  head
    title Pong
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src: '/javascripts/json.js');
    script(src: '/javascripts/socket.io.js');
    script(src: '/javascripts/main.js');
    script(src: '/javascripts/game.js');
  body!= body
